# Configuración de la Base de Datos MariaDB
DB_NAME=fenixtech_db
DB_USER=fenix_user
DB_PASSWORD=tu_contraseña_super_segura_123
DB_ROOT_PASSWORD=tu_contraseña_root_super_segura_456

# Genera una clave segura de al menos 64 caracteres
JWT_SECRET=tu_clave_secreta_super_larga_aqui
# Tiempo de expiración en milisegundos (ej: 86400000 para 24h)
JWT_EXPIRATION=86400000

HOST_MAIL=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=tu_correo@gmail.com
MAIL_PASSWORD=tu_password_de_aplicacion_aqui